.content_000027 {
  width: 100%;
  height: 50vh;
  position: relative;
}

.children_000027 {
  overflow: hidden;
  position: relative;
  background: red;
}

.modal_000027 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: blue;
  position: absolute;
  left: 0;
}
