.navigation {
  width: 200px;
  display: block;
  height: 100vh;
  float: left;
  border-right: 1px solid black;
  background: #e2e2e2;
}

.content {
  width: calc(100% - 201px - 10%);
  float: left;
  margin: 20px 5%;
}

span {
  display: block;
}
