.navigation {
  position: fixed;
  opacity: 0.8;
  z-index: 200;
  width: 200px;
  display: block;
  height: 100vh;
  float: left;
  border-right: 1px solid black;
  background: #e2e2e2;
}

.content {
  width: calc(100%);
  float: left;
}

#canvas-container {
  width: 100%;
  height: 100vh;
}

.sub-container {
  width: 100%;
  height: 100%;
}

.black-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background: black;
  z-index: 20;
}
