.navigation {
  position: fixed;
  opacity: 0.8;
  z-index: 200;
  width: 200px;
  display: block;
  height: 100vh;
  float: left;
  border-right: 1px solid black;
  background: #e2e2e2;
}

.content {
  width: calc(100% - 200px);
  margin-left: 200px;
  height: 100vh;
  overflow-x: hidden;
}

#canvas-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#canvas-container > div {
  height: 100%;
}
